
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --size-MenuIcon: 30px;
    --width-MenuIcon: 6px;
    --color-MenuIcon: #999;
}



.wrapper {
    height: 100vh;
    overflow-y: auto;
    scroll-snap-type: y proximity;
    display: grid;
    
}


section {
    display: grid;
    width: 100%;
    height: 100vh;
    /* grid-template-areas:
      "head   head"
      "landing-title  graph"
      "landing-title  foot";
    grid-template-rows: 50px 1fr 30px;
    grid-template-columns: 30% 1fr; */

}



.wrapper section:nth-child(1) {
    display: grid;
    width: 100%;
    height: 120vh;
    grid-template-areas:
      "landing-nav-header  black  landing-nav"
      "landing-title  graph graph"
      "landing-title  foot foot";
    grid-template-rows: 50px 1fr 3 0px;
    grid-template-columns: 40% 20% 40%;

    background-color: rgb(15, 15, 15);
    width: 100%;
    min-height: 120vh;
    overflow: hidden;
    background-image: url(./resources/landing_page/hero-bg.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.wrapper section:nth-child(1) > graph {
    grid-area: graph;
    
}

.wrapper section:nth-child(1) > landing-title {

    grid-area: landing-title;
    font-family: gilroy-bold;
    color: white;
    font-size: 16vh;
    margin-top: 10%;
    margin-left: 15%;
    

}
.wrapper section:nth-child(1) > landing-title h3 {

    grid-area: landing-title;
    font-family: gilroy-bold;
    font-style: italic;
    font-weight: lighter;
    color: white;
    font-size: 4vh;
    margin-top: 15%;
    margin-left: 10%;
    
    
}

.wrapper section:nth-child(1) > landing-nav {
    grid-area: landing-nav;
    width: 100%;
    display: flex;
    align-items: center;
}

.wrapper section:nth-child(1) > nav-header {
    display: none;
}


#nav-icon {
    width: 5%;
    cursor: pointer;
}



nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 3vh;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 3vh;
}

nav ul li a:hover {
    text-decoration: underline;

}



.wrapper section:nth-child(2) {
    background-image: url(./resources/lofi_BG/outspace.png);
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center;
    width: 100%;

}

.wrapper section:nth-child(3) {
    background-image: url(./resources/lofi_BG/lifeOFPie.svg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center;
    width: 100%;
}

.wrapper section:nth-child(4) {
    background-image: url(./resources/lofi_BG/cityView.png);
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center;
    width: 100%;
}


.wrapper section:nth-child(5) {
    background-image: url(./resources/lofi_BG/lofi2\ \(1\).png);
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center;
    width: 100%;
}



@media only screen and (max-width: 480px) {
   
        
    .wrapper section:nth-child(1) {
        display: grid;
        width: 100%;
        height: 120vh;
        grid-template-areas:
        "nav-header"
        "landing-title"
        "graph";
        grid-template-rows: 50px 1fr 70%;
        grid-template-columns: 100% 1fr;


    }

    .wrapper section:nth-child(1) > landing-title {
        margin-top: 5%;
        font-size: 8vh;
    }

    .wrapper section:nth-child(1) > landing-title h3 {
        margin-top: 25%;
        font-size: 3vh;
        padding-bottom: 10%;
        font-style: italic;
    }

    .wrapper section:nth-child(1) > nav-header {
        display: inline-block;
    }

    .HiddenCheckbox {

        display: none;
      }
    
      .MenuContainer {
        
        display: inline-block;
        margin: 20px;
      }
      
      .MenuHeader {
      
        color: var(--color-MenuIcon);
        display: inline-block;
        float: left;
        font-weight: 100;
        line-height: var(--size-MenuIcon);
        margin-left: 10%;
        opacity: 0;
        position: relative;
        transform: translate3d(0, -var(--size-MenuIcon) / 2, 0);
        transition: transform 0.6s, opacity 0.5s;
        z-index: 12;
   
      }
      
      #nav-bar-mobile{
        width: 10%;
        grid-area: nav-header;
        float: right;
      }


      .MenuIcon {
        grid-area: nav-header;
        cursor: pointer;
        display: block;
        float: left;
        height: var(--size-MenuIcon);
        position: relative;
        width: var(--size-MenuIcon);  
        z-index: 12;
        
      }

      
        .MenuIcon:before {
           
            box-shadow: var(--color-MenuIcon) 0 (var(--width-MenuIcon) * 2) 0;
            height: var(--width-MenuIcon);
            transform-origin: left top;
            width: var(--size-MenuIcon);
        }
        
        .MenuIcon:after {
        
          bottom: 0;
          height: var(--width-MenuIcon);
          transform-origin: left bottom;
          width: var(--size-MenuIcon);
          z-index: 14;
          
         
        }
      
      
      .MenuIcon:before, .MenuIcon:after {
        background: var(--color-MenuIcon);
        display: block;
        content: '';
        position: absolute;
        transition: box-shadow 0.2s linear, transform 0.4s 0.2s;
      }
      
      .Menu {
        background: black;
        bottom: 0;
        opacity: 1;
        left: -90%;
        position: absolute;
        top: 0;
        width: 90%;
        transition: left 0.4s;
        z-index: 10;
      }
      
      .HiddenCheckbox:checked ~ .MenuHeader {
        opacity: 1;
        transform: none;
      }
      
        .HiddenCheckbox:checked ~ .MenuIcon::before {
            -webkit-transform: translateY(0px) rotateZ(45deg);
            -moz-transform: translateY(0px) rotateZ(45deg);
            -ms-transform: translateY(0px) rotateZ(45deg);
            -o-transform: translateY(0px) rotateZ(45deg);
            transform: translateY(0px) rotateZ(45deg);
        }
        
        .HiddenCheckbox:checked ~ .MenuIcon::after {
            -webkit-transform: translateY(-4.5px) rotateZ(-45deg);
            -moz-transform: translateY(-4.5px) rotateZ(-45deg);
            -ms-transform: translateY(-4.5px) rotateZ(-45deg);
            -o-transform: translateY(-4.5px) rotateZ(-45deg);
            transform: translateY(-4.5px) rotateZ(-45deg);
        }
      
      
      
      .HiddenCheckbox:checked ~ .Menu {
        left: 0;
      }
      
      .Menu-list {
        list-style-type: none;
        margin: var(--size-MenuIcon) + 30px 0 0;
        padding: 0;
      }
      
      .Menu-item {
        
        
        text-align: center;
        margin-top: 20%;
        width: 250px;
        margin-left: 15%; 

        background-color: rgb(28, 28, 28);
        font-family: gilroy-regular;
        font-variant-ligatures: none;
        padding-top: env(safe-area-inset-top);
        overflow-x: hidden;
        border-radius: 25px;
      }
      
      .Menu-link {
        color: #fff;
        display: block;
        overflow: hidden;
        padding: 8px 22px;
        position: relative;
        text-decoration: none;
        z-index: 1;
      }
        .Menu-link:before {
        
          bottom: 0;
          content: '';
          left: 0;
          position: absolute;
          right: 100%;
          top: 0;
          transition: right 0.4s;
          z-index: -1;
        }
        
        .Menu-link:after {
          content: attr(href);
          float: right;
          opacity: 0;
          transition: opacity 0.8s, transform 0.4s;
          transform: translate3d(100%, 0, 0);
        }
      
        
    
    }
