

@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");
@import url(https://fonts.googleapis.com/css?family=Kaushan+Script);


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --size-MenuIcon: 30px;
    --width-MenuIcon: 6px;
    --color-MenuIcon: #999;
    --border-gradient-onyx: linear-gradient(
    to bottom right, 
    hsl(0, 0%, 25%) 0%, 
    hsla(0, 0%, 25%, 0) 50%
  );

  --shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.25);

  --bg-gradient-jet: linear-gradient(
    to bottom right, 
    hsla(240, 1%, 18%, 0.251) 0%, 
    hsla(240, 2%, 11%, 0) 100%
  ), hsl(240, 2%, 13%);

  --light-gray: hsl(0, 0%, 84%);
}



.wrapper {
    height: 100vh;
    overflow-y: auto;
    scroll-snap-type: y proximity;
    display: grid;
    overscroll-behavior: contain;

}


section {
    display: grid;
    width: 100%;
    height: 100vh;
}

/* landing page section begins */

.wrapper section:nth-child(1) {
    display: grid;
    width: 100%;
    height: 120vh;
    grid-template-areas:
      "landing-nav-header  black  landing-nav"
      "landing-title  graph graph"
      "landing-title  foot foot";
    grid-template-rows: 50px 1fr 3 0px;
    grid-template-columns: 40% 20% 40%;

    background-color: rgb(15, 15, 15);
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    overflow-x: hidden;
    /* background-image: url(./resources/landing_page/hero-bg.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
}


.wrapper section:nth-child(1) > graph {
    grid-area: graph;
    
}

.wrapper section:nth-child(1) > landing-title {

    grid-area: landing-title;
    font-family: gilroy-bold;
    color: white;
    font-size: 16vh;
    margin-top: 10%;
    margin-left: 15%;
    

}
.wrapper section:nth-child(1) > landing-title h3 {

    grid-area: landing-title;
    font-family: gilroy-bold;
    font-style: italic;
    font-weight: lighter;
    color: white;
    font-size: 4vh;
    margin-top: 15%;
    margin-left: 10%;
    
    
}

.wrapper section:nth-child(1) > landing-nav {
    grid-area: landing-nav;
    width: 100%;
    display: flex;
    align-items: center;
}

.wrapper section:nth-child(1) > nav-header {
    display: none;
}


#nav-icon {
    width: 5%;
    cursor: pointer;
    background-color: rgb(15, 15, 15);
   
}



nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 3vh;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 3vh;
}

nav ul li a:hover {
    text-decoration: underline;

}
/* landing page section over */

.wrapper section:nth-child(2) {

  /* width: 90%;
  margin: 50px auto; */
  max-height: fit-content;
  background-color: rgb(15, 15, 15);
}

.about-self-img{
  border-radius: 50%;
  object-fit: cover;
  float: left;
  width: 200px;
  height:200px;
  margin-left: 150px;
  margin-top: 10px;
}

.about-text{
  align-content: center;
  color:hsl(0, 0%, 84%);
  font-size: 23px;
  padding-left: 25%;
  padding-right: 5%;
  font-weight: 300;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  

}
.contact-text{
  color: white;
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
}
.contact-img{
  max-width: 30px;
  max-height: 30px;
  vertical-align: middle;
  padding-left: 10px;

}
/* about section ends */
.wrapper section:nth-child(3) {

  /* width: 90%;
  margin: 50px auto; */
  background-color: rgb(15, 15, 15);
}


.skill-row {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
  background-color: rgb(15, 15, 15);
}

.skill-card {
  width: 20%;
  background: #17141d;
  margin-top: 50px;
  margin-bottom: 100px;
  transition: 0.3s;
  border-radius: 10px;
  background: linear-gradient(90deg, #04619F, rgb(15,15,15));
  /* background: linear-gradient(90deg, #004e92, #000428); */
}

.skill-card-header {
  text-align: center;
  padding: 10px 10px;
  /* background-color: #17141d; */
  border-radius: 10px;
  color: white;
  font-weight: 300;
  left: 20px;
  top: 15px;
}

.skill-card-body {
  padding: 20px 20px;
  text-align: center;
  font-size: 18px;
  color: #e9efff;
}

.skill-logos {
  padding: auto;
  display: inline-block;
  padding: 10px;
 
}

.skill-logo-img {
  width: 15%;
  height: 15%;
  vertical-align:middle;

}

.skill-logo-big-img{
  width: 40%;
 
  vertical-align:middle;
  
}

.skill-logo-midSize-img{
  width: 25%;
  height: 25%;
  vertical-align:middle;
  padding: -10px;
}

.skill-card-body {
  transform: scale(1.1);
}

.skill-card:hover {
  transform: scale(1.1);
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

.bar {
  position: relative;
  
  top: 105px;
  left: 20px;
  height: 5px;
  width: 90%;
}


.emptybar {
  background-color: #2e3033;
  width: 100%;
  height: 100%;
}

.skill-card:hover .filledbar {
  width: 100%;
  transition: 0.4s ease-out;
}


.filledbar {
  position: relative;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: rgb(0,154,217);
  background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgba(217,147,0,1) 65%, rgba(255,186,0,1) 100%);
  transition: 0.6s ease-out;
}



/* skill card section ends */


/* Experience section begins */
.wrapper section:nth-child(4) {
  background-color: rgb(15, 15, 15);
  min-height: 110vh;

  /* width: 100%; */
}

.experience-row {
  display: flex;
  justify-content: space-evenly;
  flex-flow: wrap;
  background-color: rgb(15, 15, 15);
  top: 20px;
  column-gap: 20px;
  max-height: fit-content;
}

.experience-card {
  width: 30%;
  margin-top: 20px;
  margin-bottom: 100px;
  transition: 0.3s;
  border-radius: 10px;
  background: rgb(15, 15, 15);
  border: 1px solid rgb(132, 132, 132);
  /* background: linear-gradient(90deg, #004e92, #000428); */
  min-height: fit-content;
  max-height: fit-content;
}

.experience-card:hover {
  transform: scale(1.1);
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}


.experience-heading {
  font-size: 46px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  margin-top: 10px;
  padding-top: 0%;
  margin-bottom: 0px;


} 

.experience-banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 150%;
  background: linear-gradient(to right, #232526, #414345);
  border-radius: 10px 10px 0px 0px;
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -o-filter: blur(0px);
  -ms-filter: blur(0px);
  filter: blur(0px);
  height: 11rem;
  display: flex;
  align-items: flex;
  justify-content: center;
}

.experience-div-company {
  position: absolute;
  background: transparent;
  height: 9rem;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.experience-text-company {
  position: relative;
  text-align: center;
  padding: 1.5rem;
  margin: 0;
  color: white; 
  font-size: 25px;
  text-align: center;
  font-weight: 700;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.experience-roundedimg {
  position: absolute;
  object-fit: cover;
  left: 0;
  right: 0;
  top: 7rem;
  margin-left: auto;
  margin-right: auto;
  width: 8rem;
  height: 8rem;
  box-shadow: 0 0.5rem 1rem rgb(28, 28, 28);
  border-radius: 50%;
}

.experience-text-role {

  text-align: center;
  color: white;
  font-weight: 700;
  font-size: 25px;
  margin-top: 45px;
  padding-top: 1.5rem;
  line-height: normal;
}

.experience-text-date {
  text-align: center;
  color: white;
  font-size: 20px;
  margin: 0px;
  padding-top: 1rem;
  font-weight: 600;
}

.experience-text-desc {
  text-align: center;
  color: #fff;

}

.experience-text-details {
  padding: 1.5rem;
  margin-top: 1rem;
  color: #fff;
  text-align: left;
  font-size:2vh;
}

.experience-text-details_big {
  padding: 1.5rem;
  margin-top: 1rem;
  color: #fff;
  text-align: left;
  font-size: 2.8vh;
  /* line-height: 15px; */
}


/* Experience section ends */

/* Education section Begins */

.wrapper section:nth-child(5) {
  background-color: rgb(15, 15, 15);
  width: 100%;
  height: fit-content;

}


.education-heading {
  font-size: 56px;
  font-weight: 400;
  color: #fff;
  margin-top: 120px;
  margin-left: 20px;
  padding-bottom: 10px;
  position: relative;
}

.university-logo{
  /* background-image: url(./resources/mun.png); */
  /* object-fit: fill; */
  float: left;
  width: 189px;
  height: 116px;

 
  /* width: 6rem; */
  margin-left: 20px;
  margin-top: 20px;
}

.ieee-logo{
  float: left;
  width: 189px;
  height: 72px;
  background-image: url(./resources/nceec.png);
  background-position: top, bottom;
  background-repeat: no-repeat;
  object-fit: contain;
  /* width: 6rem; */
  margin-left: 20px;
  margin-top: 20px;
}

.ieee-logo-left{
  float: right; 
  background-image: url(./resources/ieee1.png);
  object-fit: contain;
  background-repeat: no-repeat;
  width: fit-content;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 0px;
  width: 400px;
  height: 65px;
  position: relative;
  margin-bottom: 0px;
}

.cs-society{
  background-image: url(./resources/cs.png);
  background-repeat: no-repeat;
  margin-top: -20px;
  /* margin-bottom: 30px; */
  float: right;
  width: 300px;
  height: 210px;
  margin-right: 20px;
  position: relative;
  
  
}

.tech-nl {
  float: left;
  background-image: url(./resources/toolbox/TechNL-Logo_Black.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: -20px;


  width: 300px;
  height: 210px;
  margin-left: 20px;
  position: relative;
}

.hackathon {
  background-image: url(./resources/toolbox/TechFWD-Gprahics-2.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: -125px;
  /* margin-bottom: 30px; */
  float: right;
  width: 400px;
  height: 310px;
  margin-right: 20px;
  position: relative;
}

.university-text h1 {
  margin-top: 20px;
  color: #fff;
  padding-left: 220px;
  position: relative;
  font-weight: 600;
  font-size: 4vh;
}


.university-text h2 {
  margin-top: 24px;
  color: #fff;
  padding-left: 220px;
  position: relative;
  
}
.university-text h3 {
  margin-top: 20px;
  color: #fff;
  padding-left: 220px;
  position: relative;
}

.university-text:hover .filledbar {
  width: 100%;
  transition: 0.4s ease-out;
}

.researchPaper_link{
  color: #2992dc;
  text-decoration: none;
}

.researchPaper_link:hover{
  text-decoration: underline;
  color: white;
}

.blog-card {
  float: right;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0px;
  width: 400px;
  height: 250px;
  margin-right: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.85);
  transition: all 450ms ease-out 0s;
  overflow: hidden;
}
.blog-card .blog-img {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  top: -9999px;
  left: -9999px;
  right: -9999px;
  bottom: -9999px;
  margin: auto;
  overflow: hidden;
}
.blog-card:hover {
  box-shadow: 0 2px 35px rgba(0, 0, 0, 0.85);
}
.blog-card:hover .text-overlay {
  background: rgba(255, 255, 255, 0.8);
  height: 50%;
  top: 50%;
  transition: all 450ms ease-in-out 0s;
}
.blog-card:hover p {
  height: 60px;
  transition: all 350ms ease-in-out 0s;
}
.blog-card:hover p a {
  visibility: visible;
}
.text-overlay {
  position: relative;
  background: rgba(255, 255, 255, 0.6);
  width: 100%;
  height: 40%;
  top: 60%;
  box-shadow: 0 -2px 12px rgba(0, 0, 0, 0.3);
  padding: 10px 12px;
  overflow: hidden;
  transition: all 450ms ease-in-out 0s;
  cursor: pointer;
}
.text-overlay h2 {
  color: rgba(0, 0, 0, 0.85);
  letter-spacing: 0.0225em;
  width: auto;
  margin: 0;
}
.text-overlay p {
  color: #555;
  width: 380px;
  height: 38px;
  
  margin-top: 2px;
  line-height: 1.25;
  text-overflow: ellipsis;
  overflow: hidden;
}
.text-overlay a {
  color: #378aee;
  text-decoration: none;
  transition: all 350ms linear;
  visibility: hidden;
}
.text-overlay a:hover {
  color: #449cc5;
  border-bottom: 1px dotted #47a8f2;
}



/* Education section Ends */

.wrapper section:nth-child(6) {
    /* background-image: url(./resources/lofi_BG/outspace.png);
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center; */
    background-color: rgb(15, 15, 15);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'DM Sans', sans-serif;
    overflow: hidden;
    
   
   
   
}


input[type=radio] {
  display: none;
}


.card {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform .4s ease;
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 800px;
  height: 70%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.cards {
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 150px;
  padding-top: 100px;
  
}

.video-card{
  width: 0%;
  margin-top: auto;
  margin-left: auto;
 
  
}
.video-bg{
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  }


.toolbox-card {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  background-color: rgb(132, 132, 132);
}

#item-1:checked ~ .cards #song-2, #item-2:checked ~ .cards #song-3, #item-3:checked ~ .cards #song-4,#item-4:checked ~ .cards #song-5, #item-5:checked ~ .cards #song-1 {
  transform: translatex(-40%) scale(.8);
  opacity: .4;
  z-index: -1;
}

#item-1:checked ~ .cards #song-5, #item-2:checked ~ .cards #song-1, #item-3:checked ~ .cards #song-2, #item-4:checked ~ .cards #song-3, #item-5:checked ~ .cards #song-4  {
  transform: translatex(40%) scale(.8);
  opacity: .4;
  z-index: -1;
}

#item-1:checked ~.cards #song-3, #item-2:checked ~.cards #song-4, #item-3:checked ~.cards #song-5, #item-4:checked ~.cards #song-1, #item-5:checked ~.cards #song-2 {
  transform: translatex(-20%) scale(.8);
  opacity: 0;
  z-index: -5;
} 

#item-1:checked ~.cards #song-4, #item-2:checked ~.cards #song-5, #item-3:checked ~.cards #song-1, #item-4:checked ~.cards #song-2, #item-5:checked ~.cards #song-3 {
  transform: translatex(20%) scale(.8);
  opacity: 0;
  z-index: -7;
}

#item-1:checked ~ .cards #song-1 .video-card, #item-2:checked ~ .cards #song-2 .video-card, #item-3:checked ~ .cards #song-3 .video-card ,  #item-4:checked ~ .cards #song-4 .video-card, #item-5:checked ~ .cards #song-5 .video-card {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
  width: 100%;
  height: 100%;
}



.player {
  background-color: #fff;
  border-radius: 8px;
  min-width: 390px;
  /* min-height: 100px; */
  position: absolute;
  padding: 2px 10px;
  margin-bottom: 150px;
  
}

.upper-part {
  position: relative;
  display: flex;
  align-items: left;
  margin-bottom: 0px;
  height: 36px;
  overflow: hidden;
  margin-left: 0px;
}




.song-info {
  width: calc(100% - 32px);
  display: block;
  margin-left: 0px;
 
}

.song-info .title {
  color: #403d40;
  font-size: 16px;
  line-height: 24px;
  padding-top: 0%;
  float: left;
  
}

.sub-line {
  display: flex;
  justify-content: space-between;
  width: 100%;
  float: left;
 
  /* margin-top: 0; */
}

.subtitle, .time {
  font-size: 13px;
  line-height:16px;
  color: #464646;
  font-weight: 500;
}

.time {
  font-size: 12px;
  line-height: 6px;
  color: #a5a5a5;
  font-weight: 500;
  float: right;
}

.progress-bar {
  height: 3px;
  width: 100%;
  background-color: #e9efff;
  border-radius: 2px;
  overflow: hidden;
  margin-top: 6px;
}

.progress {
  display: block;
  position: relative;
  width: 60%;
  height: 100%;
  background-color: #2992dc;
  border-radius: 6px;
}

.info-area {
  width: 100%;
  position: absolute;
  top: 0;
  left: 2px;
  bottom: 2px;
  right: 2px;
  transition: transform .4s ease-in;
}

#item-2:checked ~ .player #test {
  transform: translateY(0);
}

#item-2:checked ~ .player #test  {
  transform: translateY(-40px);
}

#item-3:checked ~ .player #test  {
  transform: translateY(-80px);
}

#item-4:checked ~ .player #test  {
  transform: translateY(-120px);
}

#item-5:checked ~ .player #test  {
  transform: translateY(-160px);
}

.title-project{
  margin-top: 35px;
  align-items: center;
  font-size: 46px;
  margin-bottom: 0px;
  color: white;
  font-weight: 400;
  font-family: serif;
}
/* image-slider on first label  */


.horizontal-scroll-wrapper {
  overflow: hidden;
  white-space: wrap;
  display: inline-block;
  width: 100%;
  height: 100%;
}

/* .horizontal-scroll-wrapper:hover {
  overflow-y: scroll;
} */


.graph-images{
  padding-top: 0;
  width: 100%;
  height: 80%;
  /* margin-right: 10px; */
  /* margin: 10px 0; */
  /* background-color: #378aee; */
  /* display: inline-block; */
  
}

/* toolbox carousal section ends */

.footer {
  text-align: center;
  background-color: rgb(15, 15, 15);
  color:hsl(0, 0%, 84%);
  font-size: 24px;
  font-weight: 900;
  padding-bottom: 10px;
}


@media only screen and (max-width: 480px) {
   
      /* landing page section begins */
    .wrapper section:nth-child(1) {
        display: grid;
        width: 100%;
        height: 100vh;
        grid-template-areas:
        "nav-header"
        "landing-title"
        "graph";
        grid-template-rows: 50px 1fr 70%;
        grid-template-columns: 100% 1fr;


    }

    .wrapper section:nth-child(1) > landing-title {
        margin-top: 5%;
        font-size: 8vh;
    }

    .wrapper section:nth-child(1) > landing-title h3 {
        margin-top: 25%;
        font-size: 3vh;
        padding-bottom: 10%;
        font-style: italic;
    }

    .wrapper section:nth-child(1) > nav-header {
        display: inline-block;
        z-index: 12;
    }

    .HiddenCheckbox {
        display: none;
      }
    
      .MenuContainer {
        display: inline-block;
        margin: 20px;
        position: absolute;
      }
      
      .MenuHeader {
      
        color: var(--color-MenuIcon);
        display: inline-block;
        float: left;
        font-weight: 100;
        line-height: var(--size-MenuIcon);
        margin-left: 10%;
        opacity: 0;
        position: absolute;
        transform: translate3d(0, -var(--size-MenuIcon) / 2, 0);
        transition: transform 0.6s, opacity 0.5s;
        z-index: 12;
   
      }
      
      #nav-bar-mobile{
        width: 10%;
        grid-area: nav-header;
        float: right;
        
      }


      .MenuIcon {
        grid-area: nav-header;
        cursor: pointer;
        display: block;
        float: left;
        height: var(--size-MenuIcon);
        position: relative;
        width: var(--size-MenuIcon);  
        z-index: 12;
      }

      
        .MenuIcon:before {
            box-shadow: var(--color-MenuIcon) 0 (var(--width-MenuIcon) * 2) 0;
            height: var(--width-MenuIcon);
            transform-origin: left top;
            width: var(--size-MenuIcon);
        }
        
        .MenuIcon:after {
          bottom: 0;
          height: var(--width-MenuIcon);
          transform-origin: left bottom;
          width: var(--size-MenuIcon);
          position: absolute;
          z-index: 14;
        }
      
      
      .MenuIcon:before, .MenuIcon:after {
        background: var(--color-MenuIcon);
        display: block;
        content: '';
        position: absolute;
        transition: box-shadow 0.2s linear, transform 0.4s 0.2s;
      }
      
      .Menu {
        bottom: 0;
        opacity: 1;
        left: -90%;
        position: absolute;
        top: 0;
        width: 90%;
        transition: left 0.4s;
        z-index: 10;
      }
      
      .HiddenCheckbox:checked ~ .MenuHeader {
        opacity: 1;
        transform: none;
      }
      
        .HiddenCheckbox:checked ~ .MenuIcon::before {
            -webkit-transform: translateY(0px) rotateZ(45deg);
            -moz-transform: translateY(0px) rotateZ(45deg);
            -ms-transform: translateY(0px) rotateZ(45deg);
            -o-transform: translateY(0px) rotateZ(45deg);
            transform: translateY(0px) rotateZ(45deg);
        }
        
        .HiddenCheckbox:checked ~ .MenuIcon::after {
            -webkit-transform: translateY(-4.5px) rotateZ(-45deg);
            -moz-transform: translateY(-4.5px) rotateZ(-45deg);
            -ms-transform: translateY(-4.5px) rotateZ(-45deg);
            -o-transform: translateY(-4.5px) rotateZ(-45deg);
            transform: translateY(-4.5px) rotateZ(-45deg);
        }
      
      
      
      .HiddenCheckbox:checked ~ .Menu {
        left: 0;
      }
      
      .Menu-list {
        list-style-type: none;
        margin: var(--size-MenuIcon) + 30px 0 0;
        padding: 0;
      }
      
      .Menu-item {
        text-align: center;
        margin-top: 20%;
        width: 250px;
        margin-left: 15%; 

        background-color: rgb(28, 28, 28);
        font-family: gilroy-regular;
        font-variant-ligatures: none;
        padding-top: env(safe-area-inset-top);
        overflow-x: hidden;
        border-radius: 25px;
      }
      
      .Menu-link {
        color: rgb(255, 255, 255);
        font-weight: 400;
        display: block;
        overflow: hidden;
        padding: 8px 22px;
        position: absolute;
        text-decoration: none;
        z-index: 1;
      }
      .Menu-link:before {
      
        bottom: 0;
        content: '';
        left: 0;
        position: absolute;
        right: 100%;
        top: 0;
        transition: right 0.4s;
        z-index: -1;
      }
        
      .Menu-link:after {
        content: attr(href);
        float: right;
        opacity: -1;
        transition: opacity 0.8s, transform 0.4s;
        transform: translate3d(100%, 0, 0);
      }

      /* landing page section ends */
        
      .cards {
        position: absolute;
        width: 80%;
        height: 100%;
        left: 0;
        right: 0;
        margin: auto;
        transition: transform .4s ease;
        cursor: pointer;
      }
/* 
      .player {
        display: none;
      } */

      .wrapper section:nth-child(3) {
        width: 100%;
        height: fit-content;
      }
      
     
      
      .skill-card {
        width: 80%;
        
      }

      .wrapper section:nth-child(4) {
        width: 100%;
        height: fit-content;
      }
   
      .experience-card {
        width: 80%;
        min-height: fit-content;
      }
     
      .experience-banner {
        height: 7rem;
      }
      
      .experience-roundedimg {
        position: relative;
        object-fit: cover;
        left: 0;
        right: 0;
        top:6rem;
        margin-left: auto;
        margin-right: auto;
        width: 7rem;
        height: 7rem;
        box-shadow: 0 0.5rem 1rem rgb(28, 28, 28);
        border-radius: 50%;
      }

      .experience-div-company {
        position: relative;
        background: transparent;
        height: 3rem;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .experience-text-company {
        position: absolute;
        text-align: center;
        top: 0.1rem;
        color: white; 
        font-size: 25px;
        text-align: center;
        font-weight: 700;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      

      /* Education */

      .wrapper section:nth-child(5) {
          width: 100%;
          height: fit-content;
          display: flex;
          flex-direction: column;
          overflow-x: hidden;
      }
     
      .education-section {
        display: flex;
        flex-direction: column;
      
      }

      .university-logo{
        position: relative;
        margin-top: 1rem ;
        margin-left: 25%; 
        justify-content: space-between;
      }

      .tech-nl{
        position: relative;
        margin-top: 1rem ;
        margin-left: 25%; 
        justify-content: space-between;
        
      }

      .hackathon {
        display: none;

      }


      .university-text h1 {
        margin-top: 30px;
        color: #fff;
        /* padding-left: 15%; */
        width: 90%;
        padding-left: 20px;
        /* padding-right: 20%; */
        position: relative;
        font-weight: 600;
        font-size: 3vh;
        text-align: center;
      }
      
      
      .university-text h2 {
        margin-top: 20px;
        color: #fff;
        /* padding-left: 15%; */
        width: 90%;
        padding-left: 20px;
        /* padding-right: 20%; */
        position: relative;
        font-weight: 300;
        font-size: 2vh;
        text-align: center;
      }

      .university-text h3 {
        margin-top: 20px;
        color: #fff;
        /* padding-left: 15%; */
        width: 90%;
        padding-left: 20px;
        /* padding-right: 20%; */
        position: relative;
        font-weight: 300;
        font-size: 1.5vh;
        text-align: center;
      }
      
      .blog-card {
        display: none;
      }
      
      .ieee-logo-left{
        scale: 0.6;
        width: 420px;
        height: 65px;
        margin: 0px;
        padding-right: 0; 
      }

      .ieee-logo{
          width: 390px;
          height: 70px;
          margin: 0px;
          padding-right: 10px; 
        }
      
      .cs-society{
        display: none;
      }
      
      .player{
        display: flow-root;
        margin-bottom: 100px;
      }
      .footer {
        text-align: center;
        background-color: rgb(15, 15, 15);
        color:hsl(0, 0%, 84%);
        font-size: 14px;
        font-weight: 900;
        padding-bottom: 10px;
      }

      .contact-img{
        position: relative;
        margin-top: 1rem ;
        margin-left: 25%; 
        justify-content: space-between;
      }
      .about-text{
        padding-left: 10px;
        padding-top: 60%;
        position: relative;
      
        
      }

      .about-self-img{
        position: relative;
        margin-top: 1rem ;
        margin-left: 25%; 
        justify-content: space-between;
        padding-bottom: 5px;
        
      }
      .contact{
       display: flexbox;
       flex-direction: column;
      }
    
    }