* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.landing-title{
    
    float: left;
    margin-top: 15%;
    margin-left: 10%;
    max-width: 30%;
    font-size: 16vh;
    font-family: gilroy-bold;
    letter-spacing: 0.2vw;
    line-height: 100%; 
    color: white;
    
}




.wrapper {
    height: 100vh;
    overflow-y: auto;
    scroll-snap-type: y proximity;
    display: flex;
    flex-wrap: wrap;
}


section {
    height: 100vh;
    justify-content: left;
    display: flex;
    text-align: left;
    font-family: "Roboto", sans-serif;
    font-size: 7vw;
    color: floralwhite

}
.wrapper section:nth-child(1) {
    background-color: rgb(15, 15, 15);
    width: 100%;
    min-height: 120vh;
    overflow: hidden;
    background-image: url(./resources/landing_page/hero-bg.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

  


}

.wrapper section:nth-child(2) {
    background-image: url(./resources/lofi_BG/outspace.png);
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center;
    width: 100%;

}

.wrapper section:nth-child(3) {
    background-image: url(./resources/lofi_BG/lifeOFPie.svg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center;
    width: 100%;
}

.wrapper section:nth-child(4) {
    background-image: url(./resources/lofi_BG/cityView.png);
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center;
    width: 100%;
}


.wrapper section:nth-child(5) {
    background-image: url(./resources/lofi_BG/lofi2\ \(1\).png);
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center;
    width: 100%;
}


@media only screen and (max-width: 768px) {
    .landing-title  {
        width: 33.33%;
        margin-top: 100%;
        margin-left: 10%;
        max-width: 30%;
        font-size: 7vh;
        font-family: gilroy-bold;
        letter-spacing: 1.65px;
        line-height: 60px; 
      
    }

   
   }
